$primary: #3a86ff;
$primary-light: #DFF6FF;
$secondary: #06283D;
$primary-bright: #47B5FF;
$dark: #333;
$light: #fff;
$error: #e75858;
$errordark: #e02c2c;
$sucess: #367e18;
$sucess-light: #47ac1c;
$grey: #f3f3f3;
$primary-soft: #081d45;
$secondary-bright: #0c3b92;
$warining: #e7d210e7;
$wariningbright: #ffe816;
$background-1: rgba(120, 62, 253, 0.2);
$background-2: rgba(0, 222, 163, 0.4);
$background: #EFF3FD;
$active: #00DEA3;
$users-bg: #FFCC40;
