$primary: #47B5FF;
$primary-dark:#256D85;
$primary-light:#DFF6FF;
$secondary:#06283D;
$primary: #0a2558;
$dark: #333;
$light: #fff;
$error: #e75858;
$errordark: #e02c2c;
$sucess: #367e18;
$sucess-light: #47ac1c;
$grey: #f3f3f3;
$primary-light: #C4DFAA;
$primary-soft: #081d45;
$primary-bright: #0c3b92;
$warining: #e7d210e7;
$wariningbright: #ffe816;
