<app-nav></app-nav>

<div class="dashboard-wrapper">
  <app-top-nav></app-top-nav>
  <div class="dashboard">
    <app-card></app-card>
    <div class="dashboard-chart-section">
      <app-chart></app-chart>
      <div class="dashboard__suscription suscription">
        <div class="suscription__title">Premium
          <div class="suscription__icon"><i class="fa-solid fa-plus"></i></div>
        </div>
        <div class="suscription__content">
          <p class="suscription__currency">$ Dollar</p>
          <p class="suscription__value">862.58</p>
        </div>
        <div class="suscription__image">
          <img src="../../../assets/images/dollar-Card.png" class="suscription-img" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</div>
