.base {
  &__container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, $primary-soft, $secondary-bright, $primary-bright);
    color: $light;
  }

  &__title {
    text-align: center;

    &--h1 {
      text-transform: uppercase;
    }

    &--h2 {
      text-transform: capitalize;
    }
  }

  &__image {
    box-shadow: rgba(233, 9, 9, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px, inset;

    &-main {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      opacity: 0.7;

    }
  }

  .button-wrapper {
    margin: 0 auto;

  }

  &__buttons {
    &--link {
      margin: 0 15px;
    }
  }

}
