.delete-form-warpper {
  display: grid;
  place-items: center;
  height: 100vh;

}

.delete-form-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 40px;
  border-radius: 5px;
  background: $grey;
  width: 40%;

}

.button-wrapper-delete {
  width: 100%;

  .button {
    text-align: center;
    padding: 10px;
  }
}
