<div class="base">
  <div class="base__container">
    <div class="base__title">
      <h1 class="base__title--h1">Your Innovation Starts Here.</h1>
      <h2 class="base__title--h2">Lets get Started</h2>
    </div>
    <div class="base__image">
      <img class="base__image-main" src="../../../assets/images/base_bg.jpg" alt="">
    </div>
    <div class=" base__buttons button-wrapper">
      <a routerLink="/login" class="base__buttons--link">
        <button type="submit" class="button button--link">Log In</button> </a>
      <a routerLink="/signup" class="base__buttons--link">
        <button type="submit" class="button button--link">Sign Up</button> </a>
    </div>
  </div>
</div>
